:root {
  --transition-time: 0.25s;
  --font-family-base: Roboto, sans-serif;

  --state-layers: #000;
  --sys-primary: #005fad;
  --sys-on-primary: #fff;
  --sys-surface: #faf9fd;
  --sys-on-surface: #1a1c1e;
  --sys-surface-container-high: #e8e8eb;
  --sys-surface-container-highest: #e3e2e6;
  --sys-invert-surface: #2f3033;
  --sys-surface-bright: #faf9fd;
  --sys-on-surface-variant: #43474e;
  --sys-outline: #73777f;
  --sys-error: #ba1a1a;
}
