.languages {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px 20px 0;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--primary);
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__list-item {
    &-btn {
      margin-top: 8px;
      margin-left: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 75px;
      border-radius: 8px;
      color: var(--primary);
      font-size: 20px;
      box-shadow: 0 2px 10px rgba(var(--black-rgb), 0.100524);
      transition: var(--time) all;

      &:hover,
      &_active {
        color: var(--picton-blue);
        background: var(--link-water);
      }
    }

    &-text {
      font-size: 12px;
      padding-top: 7px;
    }
  }
}

.product-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 10px 12px;
  box-shadow: 0 2px 10px rgba(var(--black-rgb), 0.100524);
  width: 240px;
  margin-left: 10px;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    white-space: nowrap;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
  }

  &__price {
    font-weight: 700;
  }
}
