@use 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form {
  display: flex;
  gap: 10px;

  @include breakpoints.media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
  }

  @include breakpoints.media-breakpoint-down(sm) {
    width: 100%;
  }

  &__swap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 56px;

    @include breakpoints.media-breakpoint-down(lg) {
      margin-top: -18px;
    }
  }
}

.form-group {
  display: flex;
  width: 370px;
  gap: 10px;

  @include breakpoints.media-breakpoint-down(sm) {
    flex-direction: column;
    width: 90%;
    gap: 0;
  }

  &__field {
    &_short {
      width: 170px;

      @include breakpoints.media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}

.github-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 16px auto 0;
  padding: 2px 18px 0;
  gap: 12px;
  border-radius: 8px;
  background: var(--state-layers);
  color: var(--sys-on-primary);
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition-time) all;
}
